* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
}

.background {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('images/Background-off.jpg');
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease;
}

.background.on {
    background-image: url('images/Background-on.jpg');
}

.bubble {
    position: absolute;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.1) 70%);
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 2;
}

.bubble:hover {
    transform: scale(1.1);
}

.bubble.active {
    box-shadow: 0 0 80px 40px rgba(255, 223, 0, 0.8);
}

/* Responsive Design */
@media (max-width: 2560px) {
    .bubble {
        width: 290px;
        height: 290px;
        top: calc(50% - 38px);
        left: calc(50% - 30px);
    }
}
@media (max-width: 1920px) {
    .bubble {
        width: 215px;
        height: 215px;
        top: calc(50% - 110px);
        left: calc(50% - 105px);
    }
}
@media (max-width: 1440px) {
    .bubble {
        width: 150px;
        height: 150px;
        top: calc(50% - -35px);
        left: calc(50% - -35px);
    }
}

@media (max-width: 1200px) {
    .bubble {
        width: 150px;
        height: 150px;
        top: calc(50% - -35px);
        left: calc(50% - -35px);
    }
}

@media (max-width: 768px) {
    .bubble {
        width: 150px;
        height: 150px;
        top: calc(50% - -70px);
        left: calc(50% - -570px);
    }
}

@media (max-width: 480px) {
    .bubble {
        width: 160x;
        height: 160px;
        top: calc(50% - -30px);
        left: calc(50% - -35px);
    }
}
